on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Upload Released Almanac

jobs:
  build:
    name: Upload Released Almanac
    runs-on: ubuntu-latest
    steps:
    - id: get_version
      uses: dhkatz/get-version-action@v3.0.0
    - uses: actions/checkout@v3
    - name: Set up Python to run almanac generation script
      uses: actions/setup-python@v4
      with:
        python-version: "3.13"
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        sudo apt update -q -y
        sudo apt install -q -y enscript ghostscript
    - name: Install almanac package
      run: |
        pip install -e .[all]
    - name: Run yearly_almanac and convert to PDF
      run: |
        yearly_almanac -o almanac.txt -y ${{ steps.get_version.outputs.major }}
        enscript -B -r -f Courier9 -p almanac.ps almanac.txt
        gs -q -dSAFER -sBATCH -dNOPAUSE -sDEVICE=pdfwrite -sOutputFile=almanac_${{ steps.get_version.outputs.major }}.pdf \
          -dAutoRotatePages=/None -c "<</Orientation 3>> setpagedevice" -f almanac.ps

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        name: Release ${{ steps.get_version.outputs.major }}, v${{ steps.get_version.outputs.minor }}.${{ steps.get_version.outputs.patch }}
        files: ./almanac_${{ steps.get_version.outputs.major }}.pdf
